.advantages-section {
  display: flex;
  margin: 0 auto 24px;
  &_wrapper {
    background: linear-gradient(-45deg, #ec5252 0, #6e1a52 100%);
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__item {
    display: flex;
    width: 33%;
    padding: 20px 25px;
    justify-content: center;
    &:first-of-type {
      padding-left: 0;
      justify-content: flex-start;
    }
    &:last-of-type {
      padding-right: 0;
      justify-content: flex-end;
    }
    &-icon {
      display: flex;
      align-items: flex-start;
      margin-right: 16px;
      width: 48px;
      height: auto;
      font-size: 40px;
      color: #fff;
      @media (max-width: 1200px) {
        display: none;
      }
    }
    &-text {
      text-align: left;
      @media (max-width: 1200px) {
        text-align: center;
      }
    }
    &-title {
      font-size: 17px;
      display: block;
      color: #fff;
      font-weight: 700;
    }
    &-description {
      font-size: 15px;
      color: #fff;
    }
  }
}
