@import '../../../styles/_variables';

.comments {
  background-color: white;
  position: relative;
  width: 100%;
  margin: 30px 0;
  box-shadow: 0 4px 20px 0 rgba(32, 34, 36, 0.2);
}

.comments__wrapper {
  margin: 30px auto 0;
  padding: 30px 15px;
  min-width: 320px;
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
  @media (min-width: 1440px) {
    max-width: 1405px;
    width: 100%;
  }
}

.comments__wrapper_title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  line-height: 1.33em;
  color: $banner-background-color;
  margin-bottom: 15px;
}
