{
  "src/**/*.js": [
    "./node_modules/.bin/eslint --ext .js --fix ./src",
    "./node_modules/.bin/prettier",
    "git add"
  ],
  "**/*.scss": [
    "./node_modules/.bin/stylelint --syntax scss",
    "./node_modules/.bin/prettier",
    "git add"
  ]
}
