{
  "src/**/*.js": [
    "npm run prettier:windows",
    "npm run lint:js",
    "git add"
  ],
  "**/*.scss": [
    "./node_modules/.bin/stylelint --syntax scss",
    "./node_modules/.bin/prettier",
    "git add"
  ]
}
