@import '../../../../styles/_variables';

.item__popover {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  background-color: $white;
  width: 320px;
  padding: 15px;
  left: 200px;
  z-index: 100;
  @media (max-width: 500px) {
    width: 250px;
  }
}

.item__popover_update {
  color: $button-bordered-color;
  font-size: 13px;
  line-height: 1.43;
  margin-bottom: 10px;
}

.item__popover_title {
  visibility: visible;
  display: block !important;
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.3px;
  color: $button-transparent-color;
}

.item__popover_description {
  display: block !important;
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  visibility: visible;
  font-size: 15px;
  line-height: 1.53;
  letter-spacing: -0.2px;
  color: $button-bordered-color;
  padding-top: 10px;
}

.item__popover_category {
  color: $button-bordered-color;
  display: block;
  font-size: 11px;
  overflow: auto;
  margin-top: 5px;
}

.item__popover_category span {
  color: $button-mobile-login-color;
  letter-spacing: -0.2px;
}

.item__popover_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.item__popover_add-card {
  color: $white;
  background-color: $button-blue;
  border: 1px solid transparent;
  padding: 16px 12px;
  font-size: 15px;
  line-height: 1.35135;
  border-radius: 2px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.item__popover_add-card:hover {
  background-color: $button-blue-hover;
}

.item__popover_add-wishlist {
  margin-left: 15px;
  color: $button-blue;
  font-size: 24px;
  cursor: pointer;
  line-height: 1;
}

.item__popover_info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  line-height: 1.43;
  font-size: 13px;
  color: $button-bordered-color;
  font-weight: 400;
  padding: 5px 0;
}

.item__popover_info .item-info {
  display: flex;
  align-items: flex-end;
  span {
    margin-left: 5px;
  }
}

.item__popover_objective {
  padding-left: 20px;
  margin-top: 10px;
}

.item__popover_objective li {
  margin-bottom: 10px;
  max-height: 54px;
  font-size: 13px;
  letter-spacing: -0.2px;
  color: $button-bordered-color;
}
