@import '../../../styles/_variables';

.item-comment {
  background-color: $gray-light-2;
  border-radius: 3px;
  //box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 260px;
  padding: 32px;
  margin: 10px;
}

.item-comment__info {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5em;
  align-items: center;
  display: flex;
  margin-bottom: 18px;
}

.item-comment__info_icon {
  width: 64px;
  height: 64px;
  margin-right: 18px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  max-width: 100%;
}

.item-comment__info_noIcon {
  width: 64px;
  height: 64px;
  margin-right: 18px;
  border-radius: 50%;
  background-color: $gray-dark;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: $white;
}

.item-comment__info_name {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5em;
}

.item-comment__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
}

//.slick-active:nth-of-type(3n) {
//  .item-comment {
//    margin: 0;
//  }
//}
