// global variables
// required for vc skin

// instantiates the vc colours and brands for re-use
@import 'vc';

// bootstrap overrides
@import 'global/variables-bootstrap';
@import 'global/variables-extra';
@import 'layout/variables-layout';

@font-face {
  font-family: 'customicons';
  src: url('../assets/icons/icons.woff2') format('woff2');
}

.custom-icon {
  font-family: customicons, sans-serif;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
