.user {
  position: relative;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 50px;
  width: calc(100% - 100px);
  display: flex;
  box-sizing: border-box;
}

.user__logo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  border-right: 1px solid #ccc;
  padding: 30px 0;
}

.user__logo-container_img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.user__logo-container_name {
  font-size: 24px;
  color: blue;
  margin-top: 20px;
}

.user__text-container {
  width: 70%;
  position: relative;
}

.user__text-container_item {
  padding: 30px 50px;
  color: #000;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;

  &:last-child {
    border: none;
  }

  .title {
    font-size: 14px;
    opacity: 0.5;
    width: 30%;
  }

  .text {
    width: 70%;
  }
}
