.search-course-form {
  max-height: 44px;
  display: flex;
  flex: 1;
  border: 0;
  border-radius: 2px;
  background-color: #fff;
  font-size: 20px;
  outline: none;
}

.search-course-form__submit {
  &:hover {
    svg {
      fill: #fff;
    }
  }
}
