@import '../../../styles/_variables';

.dropdown__empty-cart {
  display: block;
  border-top: none;
  text-align: center;
  padding: 20px;
  &-link {
    color: $button-mobile-login-color;
    display: block;
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
    &:hover {
      color: $blue-dark;
      text-decoration: none;
    }
  }
}
