.carousel {
  width: 100%;
}

.carousel__arrow {
  cursor: pointer;
  top: 39%;
  box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.15);
  background-color: #fff;
  border-radius: 50%;
  border: none;
  color: #007791;
  font-size: 24px;
  height: 47px;
  width: 47px;
  transform: translateY(-50%);
  transition: 300ms;
  z-index: 3;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-track {
  align-items: stretch;
  display: flex !important;
  padding-bottom: 2px;
}

.slick-slide {
  height: auto !important;
}

.slick-slide > div {
  height: 100%;
}

.carousel__arrow:hover {
  box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.15);
  svg {
    fill: #00576b;
  }
}

.carousel__arrow-right {
  right: -23.5px;
  @media (max-width: 768px) {
    right: 0;
  }
}

.carousel__arrow-left {
  left: -23.5px;
  @media (max-width: 768px) {
    left: 0;
  }
}
