.courses {
  position: relative;
  margin: 0 auto 100px;
  padding: 0 15px;
  min-width: 320px;
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
  @media (min-width: 1440px) {
    max-width: 1405px;
    width: 100%;
  }
}

.courses__block-selection {
  display: flex;
}

.courses__block-popular {
  width: 100%;
  margin: 25px auto;
}

.courses__block-popular_title {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.47em;
  color: #505763;
  margin: 0 0 10px;
}

.courses__block-selection_description {
  background: #f7f8fa;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  margin: 15px 15px 0 0;
  max-width: calc(216px * 2 + 15px);
  padding: 0 32px;
  @media (min-width: 992px) and (max-width: 1200px) {
    max-width: calc(216px + 15px);
  }
  @media (max-width: 992px) {
    display: none;
  }
}

.courses__block-selection_lead-test {
  font-size: 19px;
  font-weight: 600;
  line-height: 1.47em;
}

.courses__block-selection_sub-test {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
}

.courses__block-selection_unit-container {
  flex: 1;
  width: 50%;
}

.courses__block-selection_unit-container-content {
  width: 100%;
}
