@import '../../styles/_variables';

.button-container {
  border-bottom: 1px solid $button-search-color;
  display: flex;
  margin-bottom: 16px;
  width: 100%;
  @media (max-width: 768px) {
    overflow-x: scroll;
  }
}
