@import '../../../styles/_variables';
.header-search-form {
  display: flex;
  margin: 0 15px;
  flex: 1;
  border: 1px solid $gray-light;
  background-color: $gray-light;
  outline: none;
}

.header-search-form__submit {
  &:hover {
    svg {
      fill: $white;
    }
  }
}
