@import '../../../styles/_variables';
.header-search-form {
  max-width: 50%;
  display: flex;
  margin: 0 30px;
  flex: 1;
  border: 1px solid $gray-light;
  background-color: $gray-light;
  outline: none;
  border-radius: 20px;

  button {
    padding: 11px;
  }
}

.header-search-form__submit {
  &:hover {
    svg {
      fill: $white;
    }
  }
}
